@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

* {
    background-color: #2A2C2F;
}

.page {
    color: #FFFFFF;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    opacity: 0.8;
}

.header {
    height: 52px;
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media screen and (max-width:320px) {
    .header {
        margin: 16px 16px 0;
        max-height: 42px;
    }
}

.header__logo {
    max-width: 176px;
}

@media screen and (max-width:320px) {
    .header__logo {
        max-width: 142px;
    }
}

.header__lang-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
}

@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 111%;
    }
}

.header__lang-link_active {
    text-decoration-line: underline;
    margin-right: 18px;
}

.lead {
    margin: 56px auto 0;
    max-width: 984px;
}

@media screen and (max-width:1024px) {
    .lead {
        margin-top: 48px;
        max-width: 928px;
    }
}

@media screen and (max-width:768px) {
    .lead {
        width: 100%;
        max-width: 100%;
    }
}

.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    max-width: 720px;
    margin: auto;
}

@media screen and (max-width:320px) {
    .lead__title {
        font-size: 40px;
        line-height: 110%;
    }
}

.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    max-width: 640px;
    margin: 32px auto 64px;
}

@media screen and (max-width:1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width:320px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 125%;
    }
}

.lead__image {
    display: block;
    max-width: 100%;
    width: 100%;
}

.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    max-width: 984px;
    margin: 8px auto 0;
}

@media screen and (max-width:320px) {
    .lead__caption {
        margin-left: 16px;
    }
}

.intro {
    margin: 92px auto 0;
    max-width: 690px;
    padding-right: 23.125%;
}

@media screen and (max-width:768px) {
    .intro {
        margin-top: 88px;
        max-width: 720px;
        padding: 0;
    }
}

@media screen and (max-width:320px) {
    .intro {
        margin-top: 64px;
        max-width: 288px;
    }
}

.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin: 0;
}

@media screen and (max-width:320px) {
    .intro__title {
        font-size: 32px;
        line-height: 109%;
    }
}

.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 33px;
}

@media screen and (max-width:320px) {
    .intro__text {
        margin-top: 34px;
    }
}

.intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.intro__span-accent {
    font-weight: 400;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    max-width: 1184px;
    margin: 92px auto;
    gap: 16px;
}

@media screen and (max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width:768px) {
    .photo-grid {
        margin: 88px auto;
        grid-template-columns: repeat(2, 1fr);
        max-width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width:320px) {
    .photo-grid {
        margin: 64px auto;
        grid-template-columns: repeat(1, 1fr);
        max-width: 288px;
        gap: 12px;
    }
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places {
    max-width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width:1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width:768px) {
    .places {
        max-width: 720px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width:768px) {
    .places {
        max-width: 100%;
        margin-bottom: 66px;
    }
}

.places__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto auto;
    grid-gap: 48px 40px;
    margin-bottom: 80px;
}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
        margin-bottom: 50px;
    }
}

.place:last-child {
    margin-bottom: 0;
}

.place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    max-width: 460px;
    margin: 0;
    align-self: end;
}

@media screen and (max-width:768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (max-width:320px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
        margin: 0 16px;
    }
}

.place__website {
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:320px) {
    .place__website {
        margin: 0 16px;
    }
}

.place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;

}

.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration: underline;
}

.place__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 26px 0 0;
}

@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
        margin-top: 25px;
    }
}

@media screen and (max-width:320px) {
    .place__paragraph {
        font-size: 16px;
        margin: 25px 16px 0;
    }
}

.place__paragraph:first-child {
    margin-top: 0;
}

.cover {
    max-width: 1184px;
    margin: auto;
    display: flex;
}

@media screen and (max-width:1024px) {
    .cover {
        max-width: 100%;
    }
}

.cover__overlay {
    min-height: 740px;
    width: 100%;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;

}

@media screen and (max-width:1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width:768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width:320px) {
    .cover__overlay {
        min-height: 200px;
    }
}

.cover__overlay::before {
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    background: none;
    margin: 245px auto 32px;
}

@media screen and (max-width:1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width:768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width:320px) {
    .cover__title {
        margin: 33px auto 16px;
        font-size: 32px;
        line-height: 109%;
        max-width: 228px;
    }
}

.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    background: none;
    max-width: 360px;
    margin: auto;
}

@media screen and (max-width:320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        max-width: 288px;
    }
}

.footer {
    max-width: 1184px;
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width:768px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width:320px) {
    .footer {
        min-height: 310px;
        margin: 64px 0 24px 16px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__links {
    align-self: center;
    display: flex;

}

@media screen and (max-width:320px) {
    .footer__links {
        align-self: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer__link {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    margin-right: 18px;
}

@media screen and (max-width:320px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 48px;
    }
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
}

@media screen and (max-width:320px) {
    .footer__copyright {
        line-height: 100%;
        text-align: start;
    }
}