.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    background: none;
    margin: 0 auto 32px;
}

@media screen and (max-width:768px) {
    .cover__title {
        font-size: calc(33px + 5vw);
    }
}

@media screen and (max-width:360px) {
    .cover__title {
        font-size: calc(29px + 5vw);
    }
}

@media screen and (max-width:320px) {
    .cover__title {
        margin: 0 auto 16px;
        font-size: 32px;
        line-height: 109%;
        max-width: 228px;
    }
}